body {
    background: #ecb0ff;
    text-align: center;
}
.dota{
    text-align: center;
}
.ima{
    height: 300px;
    width: 600px;
    border: solid #ff9add 20px;
    border-radius: 20px;
}
.xxx{

}